body{
  margin:0;
  background:#000;
  color:white;
  font-family:Arial;
}

/* HEADER */
.header{
  background:#6a0dad;
  padding:15px;
  text-align:center;
  position:sticky;
  top:0;
}

.menuBtn{
  position:absolute;
  left:10px;
  cursor:pointer;
}

/* MENU */
.menu{
  position:fixed;
  left:-200px;
  top:0;
  width:200px;
  height:100%;
  background:#111;
  transition:0.3s;
}

.menu.active{left:0;}

.menu a{
  display:block;
  padding:15px;
}

/* SECCIONES */
.seccion{
  display:none;
  padding:20px;
}

.seccion.activa{
  display:block;
}

/* CARRUSEL */
.carrusel{
  display:flex;
  gap:10px;
  overflow-x:auto;
}

.pelicula{
  min-width:150px;
  height:220px;
  background:#222;
  border-radius:10px;
  overflow:hidden;
  cursor:pointer;
}

.pelicula img{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* STREAMING */
.stream-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  gap:20px;
}

.card{
  background:#111;
  padding:15px;
  border-radius:10px;
  text-align:center;
}

.card img{
  width:60px;
}

/* MODAL */
#modal{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:black;
  justify-content:center;
  align-items:center;
}

#modal iframe{
  width:80%;
  height:80%;
}
